In [1]:
#!pip install googlemaps

In [42]:
import requests
import googlemaps
import pandas as pd
import numpy as np
import json
from datetime import datetime
from datetime import timedelta

In [43]:
df =df = pd.read_csv("dests.txt", sep=" ", header=None, names=["Target"])

In [48]:
now = datetime.now()
for index,row in df.iterrows():
    gmaps_client = googlemaps.Client(key = api_key)
    Source ="Tel Aviv,Israel"
    direction_result = gmaps_client.directions(Source, row['Target'], 
                                       mode = 'driving',avoid ='ferries',departure_time = now)
    
    
    df.loc[index,'Distance_km'] = direction_result[0]['legs'][0]['distance']['text']
    df.loc[index,'duration'] = direction_result[0]['legs'][0]['duration']['value'] /60
    df.loc[index,'Longitude'] = direction_result[0]['legs'][0]['end_location']['lng']
    df.loc[index,'Latitude'] = direction_result[0]['legs'][0]['end_location']['lat']

df['Duration HH:MM'] = df['duration'].apply(lambda x: f"{int(x) // 60:02d}:{int(x) % 60:02d}")
df.drop(['duration'], axis =1,inplace =True)

In [49]:
df

      Target Distance_km  Longitude   Latitude Duration Duration HH:MM
0   Istanbul    1,815 km  28.978379  41.008231    21:02          21:02
1  Amsterdam    4,533 km   4.904181  52.367577    48:03          48:03
2   Valletta    5,058 km  14.514102  35.899232    55:52          55:52
3      Basel    4,093 km   7.588576  47.559599    44:02          44:02
4       Doha    2,164 km  51.531033  25.285447    22:38          22:38

### Q3.2

In [50]:
df_sort = df.sort_values('Distance_km',ascending=False,ignore_index=True)
df_sort.head(3)

      Target Distance_km  Longitude   Latitude Duration Duration HH:MM
0   Valletta    5,058 km  14.514102  35.899232    55:52          55:52
1  Amsterdam    4,533 km   4.904181  52.367577    48:03          48:03
2      Basel    4,093 km   7.588576  47.559599    44:02          44:02